* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan';
}
body{
    background: url('../social-proof master/social proof section images/bg-pattern-top-mobile.svg');
    

}
.itel{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem 3rem 3rem;
    line-height: 1.8rem;
}
.right{
    width: 400px;
}
.right h1{
    color: hsl(300, 43%, 22%);
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
}
.right p{
    color: hsl(303, 10%, 53%);
    padding: 1rem 0rem;
    font-size: 1.3rem;
}
.left{
    color:  hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0rem 2rem;
}
li{
    list-style: none;
    background-color: hsl(300, 24%, 96%);
    padding: 1rem;
}
.b{
    margin: 1rem 0rem 0rem 2.5rem;
}
.c{
    margin: 1rem 0rem 1rem 6rem;
}
.boxes{
    display: flex;
    gap: 2%;
    padding: 3rem;
}
.box ,.box2 ,.box3{
    background-color: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
    border-radius: 8px;
    padding: 2rem 3rem 2rem 2rem;
    line-height: 1.5rem;
}
.inbox{
    display: flex;
    gap: 6%;
}
.fit img{
    border-radius: 50%;
    width: 80%;
}
.top h5{
    color: hsl(333, 80%, 67%);
}
.boxes p{
    padding: 1rem 0rem;
    width: 300px;
    font-size: 1.1rem;
}
.box2{
    margin-top: 1.2rem;
}
.box3{
    margin-top: 2.4rem;
}

@media (min-width: 360px) and (max-width: 800px){
    .boxes{
        flex-direction: column;
        width: 114%;
        padding-left: 1px;
    }

    .right h1, 
    .right p{
        width: 90%;
        padding-right: 1px;
    }
    .left{
        width: 100%;
        padding-top: 400px;
        margin: 1px;
        margin-left: -250px;
    }
}
@media (min-width: 390px) and (max-width: 844px){
    .boxes{
        flex-direction: column;
        width: 107%;
        padding-right: 5px;
    }

    .right h1, 
    .right p{
        width: 90%;
        
    }
    .left{
        width: 100%;
        padding-top: 400px;
        margin: 1px;
        margin-left: -250px;
    }
}
@media (min-width: 320px) and (max-width: 568px){
    .boxes{
        flex-direction: column;
        width: 115%;
    }

    .right h1, 
    .right p{
        width: 90%;
        padding-right: 1px;
    }
    .left{
        width: 100%;
        padding-top: 400px;
        margin: 1px;
        margin-left: -250px;
        
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .boxes{
        flex-direction: column;
    }

    .right h1, 
    .right p{
        width: 90%;
        padding-right: 1px;
    }
    .left{
        width: 100%;
        padding-top: 400px;
        margin: 1px;
        margin-left: -250px;
    }
}
.boxes p{
    padding: px;
}
    